<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p> app/src/view/templates/layout.html.erb </p>

<%= erb :'templates/example.html', :locals => {foo: foo, x: x} %>

</body>
</html>