services:
  whoknows_app:
    build:
      context: ..
      dockerfile: .devops/Dockerfile.app
    image: whoknows_variations_dev
    ports:
      - "8080:8080"
    volumes:
      - ..:/who_knows  
    networks:
      - my_network

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:10.2.4
    ports:
      - "3000:3000"


networks:
  my_network:
    driver: bridge