<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p> app/src/view/templates/layout.html.erb </p>

<%= if 2 + 2 == 4 #find and display correct erb-file
      erb :'templates/example.html', :locals => {foo: foo, x: x}
    end
%>

</body>
</html>