<!DOCTYPE html>
<title>¿Who Knows?</title>
<link rel="stylesheet" type="text/css" href="/style.css">

<div class="page"> <!-- ??? -->

  <div class="navigation">
    <nav>

      <h1><a id="nav-logo" href='/api/search'>¿Who Knows?</a></h1>

      <% if (1+1==3) %>
        <a id="nav-logout" href='/api/logout'>Log out <% "test" %> </a>
      <% else %>
        <a id="nav-login" href='/login'>Log in </a>
        <a id="nav-register" href='/register'>Register</a>
      <% end %>

      nav
    </nav>
  </div>

  <!-- flashes ? what are flashes?? -->
  <!--
  {% with flashes = get_flashed_messages() %}
  {% if flashes %}
  <ul class="flashes">
    {% for message in flashes %}
    <li>{{ message }}
      {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
-->

  <div class="body">
    <!--{% block body %}{% endblock %} --><!-- legacy -->
    <%= yield %> <!-- display render page -->

  </div>

  <!-- footer -->
  <div class="footer">
    <span>¿Who Knows? &copy; 2009</span>
    <a href="{{ url_for('about') }}">About</a>
  </div>
</div>
