<!-- login -->

<p> login </p>


<h2>Log In</h2>
<% if (error) %>
  <div class="error"><strong>Error:</strong> {{ error }}</div>
<% end %>

<form action="/api/login" method="POST">
    <label>Username: </label>
    <input type="text" name="username" size="30" value=" request.form.username "/>
    <label>Password: </label>
    <input type="password" name="password" size="30" value = "test"/>

    <button type="submit" > Log in </button>
</form>



