name: continuous_delivery

on:
  push:
    branches:
      - release
  pull_request:
    branches:
      - release
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest #build vm

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      # login on GH. with CR_PAT
      # this might work or we just have to do it the way he did it where we have to login 
      - name: Log in to GHCR
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1 # has pinning
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }} #generate token (if gh actor has write perms)

      # build and push images
      - name: Build images
        run: docker compose -f who_knows/network/docker-compose.server.yml build # should this not be our .dev compose 

      - name: Push images
        run: docker compose -f who_knows/network/docker-compose.server.yml push # same here 




