name: WhoKnows CI

on:
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  integration:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: who_knows  

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install dependencies
        run: bundle install

      - name: Run tests
        run: ruby test/controller/controller_test.rb

      - name: Run RuboCop auto-correct
        run: rubocop -a

      - name: Check for RuboCop offenses
        run: rubocop
