name: continuous_deployment

#setup secrets.

on:
  push:
    branches:
      - release
      - 31-deploymentpipeline
  pull_request:
    branches:
      - release
  
  workflow_run:
    workflows: 
      - continuous_delivery
    types:
      - completed

  workflow_dispatch:


#needs: continuous_delivery.
# ssh ind i vm

# SCP docker-compose.server.yml

# docker-compose
  # pull
  # up

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      SSH_USER: ${{ secrets.SSH_USER }} # SSH user needs sudo
      SSH_HOST: ${{ secrets.SSH_HOST }}

    steps:
      - name: Add SSH key to GitHub runner
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }} #?? not public key?
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/ssh_key
          chmod 600 ~/.ssh/ssh_key
        
      # .env file:
      - name: Create .env file
        # input our .env stuff here 
        run: |
            echo "GREETING=Hello from Github Action" >> .env
            echo "WEATHER_API_KEY=${{ secrets.WEATHER_API_KEY}}" >> .env

      - name: Transfer .env file to server
        run: |
          scp -i ~/.ssh/ssh_key -o StrictHostKeyChecking=no .env $SSH_USER@$SSH_HOST:~/env/.env
        env:
          SSH_USER: ${{ secrets.SSH_USER }}
          SSH_HOST: ${{ secrets.SSH_HOST }}

      # copy docker-compose file to server
      - name: Check Out Repository
        uses: actions/checkout@v5
    
      - name: Transfer Docker compose file to server
        run: |
          scp -i ~/.ssh/ssh_key -o StrictHostKeyChecking=no who_knows/network/docker-compose.server.yml $SSH_USER@$SSH_HOST:docker-compose.server.yml
        env: 
            SSH_USER: ${{ secrets.SSH_USER }}
            SSH_HOST: ${{ secrets.SSH_HOST }}
      
      # deploy
      - name: Deploy to server
        run: |
          ssh -i ~/.ssh/ssh_key -o StrictHostKeyChecking=no $SSH_USER@$SSH_HOST << "EOF"
            echo ${{ secrets.CR_PAT }} | docker login ghcr.io -u ${{ secrets.DOCKER_GITHUB_USERNAME }} --password-stdin
            sudo docker compose -f docker-compose.server.yml pull
            sudo docker compose -f docker-compose.server.yml up -d
          EOF
        env:
          SSH_USER: ${{ secrets.SSH_USER }}
          SSH_HOST: ${{ secrets.SSH_HOST }}
